/* ==================== General ==================== */
#comments-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 50px;
}



/* ==================== Input comments container ==================== */
#input-comments-container {
  width: 40%;
}

#input-comments-container h2 {
  font-weight: 600;
  color: rgb(80, 80, 80);
  margin-top: 32px;
  margin-bottom: 12px;
}



/* ==================== Comments list container ==================== */
#get-comments-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

#get-comments-container p {
  font-size: 24px;
  font-weight: 500;
}

#comments-container .comments-list {
  width: 80%;
  list-style-type: none;
  padding-inline-start: 0px;
  margin-top: 0;
}



/* ==================== Each comment ==================== */
.comments-list li {
  margin: 32px 0;
}

#comments-container .comment-box {
  margin: 0;
  height: auto;
  border-radius: 10px;
  padding: 10px 10px 0px 10px;
  border: 2px solid rgba(169, 201, 176, 0.8);
}

#comments-container .comment-header {
  font-weight: 550;
  font-size: 15px;
  color: rgb(57, 87, 64);
  padding: 0;
  margin: 0;
}

#comments-container .comment-body {
  font-size: 14px;
  font-weight: 400;
  margin: 4px 10px;
  margin-bottom: 12px;
}

#comments-container .comment-footer {
  font-size: 12px;
  color: rgb(116, 166, 127);
  padding: 0;
  margin-top: 6px;
}
