/* ==================== General ==================== */
#comment-input-container {
  width: 100%;
}

#comment-input-container h3 {
  font-weight: 500;
  color: rgb(116,166,127);
  margin: 0;
}

#comment-input-container #username {
  color: rgb(57, 87, 64);
  font-size: 18.72px;
  margin: 1em 0;
  font-weight: bold;
}



/* ==================== Buttons ==================== */
#comment-input-container #buttons-container {
  margin-top: 12px;
}

#comment-input-container #buttons-container button {
  height: 32px;
  width: 80px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(116,166,127);
  background: none;
  border: 2px solid rgb(116,166,127);
  border-radius: 20px;
  padding: 4px 12px;
  margin-right: 6px;
  cursor: pointer;
  transition: background .5s ease;
}

#comment-input-container #buttons-container button:hover {
  color: white;
  background: rgb(116,166,127);
  border: 2px solid rgb(116,166,127);
  transition: background .5s ease;
}



/* ==================== Comment input ==================== */
#comment-input-container .comment-box-valid {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  max-height: 110px;
  height: fit-content;
  width: 100%;
  font-family: 'Poppins', 'sans-serif';
  font-size: 14px;
  color: rgb(57, 87, 64, 0.7);
  background-color: transparent;
  border: 2px solid rgb(116,166,127);
  border-radius: 8px;
  padding: 8px;
  margin-top: 4px;
}

#comment-input-container .comment-box-valid:focus {
  outline-offset: 0px;
  outline: none;
  color: rgb(57, 87, 64);
}



/* ==================== Invalid comment input i.e. unauthorised user ==================== */
#comment-input-container .comment-box-invalid {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: min-content;
  overflow: hidden;
  width: 100%;
  font-family: 'Poppins', 'sans-serif';
  font-size: 14px;
  color: rgb(57, 87, 64, 0.7);
  background-color: transparent;
  border: 2px solid rgb(116,166,127);
  border-radius: 8px;
  resize: none;
  padding: 8px;
  margin-top: 4px;
}

textarea::placeholder {
  font-size: 14px;
}



/* ==================== Browser compatibility ==================== */
textarea::-webkit-input-placeholder,
textarea:-moz-placeholder,
textarea::-moz-placeholder,
textarea:-ms-input-placeholder,
textarea::placeholder {
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}
