.comment-box {
    /* align-self: center; */
    align-items: center;
    height: min-content;
    width: 40%;
    height: 100px;
    padding: 10px;
    background-color: #d0e2bc;
    font-size: 15px;
    background-color: #d0e2bc;
    color: #095484;
}

.comment-box:focus {
    color: brown; /**/
}

.comments {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-box {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 600px;
}