/* ==================== General ==================== */
.home-container * {
  font-family: 'Poppins', sans-serif;
  color: rgb(50, 50, 50);
}

.home-container {
  height: 100%;
  background-image: url(../splash.jpeg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-container h1 {
  height: fit-content;
  font-size: 72px;
  margin-top: 2%;
}



/* ==================== Search ==================== */
#search-container {
  position: relative;
  width: 46%;
  display: flex;
  align-items: center;
  margin-top: 40px;
}

/* Container's child divs i.e. Autosuggest input's div */
#search-container div {
  width: 80%;
}

/* .home-container input {
  height: 40px;
  width: 100%;
  color: rgb(50, 50, 50);
  font-weight: 400;
  font-size: 16px;
  border: solid 2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  transition: border .5s ease;
  padding-left: 16px;
}

.home-container input:focus {
  outline: none;
  border: solid 2px rgb(116,166,127);
  transition: border .5s ease;
} */

/* Input after autocomplete */
.home-container input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* Search button */
#search-container button {
  height: 44px;
  width: 12%;
  color: rgb(116,166,127);
  background-color: white;
  border: solid 2px rgb(116,166,127);
  border-radius: 22px;
  margin-left: 32px;
  transition: background .5s ease;
}

#search-container button:hover {
  color: white;
  background-color: rgb(116,166,127);
  transition: background .5s ease;
}

#ingredients-container {
  position: relative;
  width: 44%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 8px;
}

#ingredients-container button {
  color: white;
  background-color: rgb(116,166,127);
  border: none;
  border-radius: 20px;
  padding: 4px 8px;
  margin-right: 4px;
  transition: background .5s ease;
}

#ingredients-container button:hover {
  background-color: rgb(204, 82, 52, 0.9);
  transition: background .5s ease;
}

.delete-icon {
  height: 8px;
  width: 8px;
  margin-left: 6px;
  margin-right: 2px;
}



/* ==================== Autosuggest ==================== */

/* Autosuggest container */
.react-autosuggest__container {
  position: relative;
}

/* Autosuggest input */
.react-autosuggest__input {
  height: 40px;
  width: 100%;
  padding-left: 12px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 2px solid #e6e6e6;
  border-radius: 20px;
}

/* Autosuggest input focused */
.react-autosuggest__input--focused {
  outline: none;
}

/* Autosuggest input when suggestions container open */
.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* Suggestions container */
#react-autowhatever-1 {
  width: 102.7% !important;
}

/* Suggestions container */
.react-autosuggest__suggestions-container {
  display: none;
}

/* Suggestions container open */
.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 40px;
  width: 280px;
  background-color: white;
  border-top: none;
  border-right: 2px solid rgb(116,166,127);
  border-bottom: 2px solid rgb(116,166,127);
  border-left: 2px solid rgb(116,166,127);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-bottom: 6px;
  z-index: 2;
}

/* Suggestion ul */
.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Suggest li */
.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 8px 12px;
}

/* Suggestion hover */
.react-autosuggest__suggestion--highlighted {
  background-color: rgba(116, 166, 127, 0.2);
  margin: 0px 6px;
  border-radius: 12px;
}

/* Suggestion span (text) */
.suggestion-span {
  font-size: 14px;
  font-weight: 300;
}



/* ==================== Random recipe generator ==================== */
#random-recipe-button {
  font-size: 16px;
  color: rgb(116,166,127);
  background-color: transparent;
  border: none;
  margin-top: 16px;
}

#random-recipe-button:hover {
  text-decoration: underline;
}
