.page-container * {
  font-family: 'Poppins', sans-serif;
}

.page-container {
  height: 100vh;
  overflow-x: hidden;
}

#splash-img {
  height: 100%;
  margin-right: 0;
  margin-left: auto;
  object-fit: cover;
}

#login-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 42%;
  left: 0;
  background-color: white;
}

#form-container {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 80%;
}

h1 {
  text-align: left;
  font-size: 40px;
  color: rgb(50, 50, 50);
  margin: 0;
  margin-bottom: 40px;
}

#login-button {
  height: 36px;
  color: white;
  background-color: rgb(116,166,127);
  transition: background .5s ease;
  border: none;
  border-radius: 4px;
}

#login-button:hover {
  background-color: rgb(97, 141, 107);
  transition: background .5s ease;
}

.checkbox {
  display: inline;
  height: 12px;
  width: fit-content;
  margin: 0;
  padding: 0;
}

#register-button {
  font-weight: 600;
  color: rgb(97, 141, 107);
  background-color: white;
  border: none;
}

#register-button:hover {
  background-color: white;
}




/*
#login-container {
  display: flex;
  flex-direction: column;
  transform: translate(0, -10%);
  width: 30vw;
}

p {
  font-weight: 300;
  color: rgb(0, 0, 0);
  margin: 0;
}

#pw-p {
  align-items: center;
}

input {
  height: 40px;
  font-size: 20px;
  font-weight: 200;
  color: rgb(0, 0, 0);
  padding: 0px;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 1px rgb(255, 255, 255, 0.2);
}

input::placeholder {
  color: grey;
}

input:focus {
  outline: none;
  border-bottom: solid 1px rgb(0, 0, 0);
  transition: border .5s ease;
}

#pw-title-container {
  height: min-content;
  overflow:hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}

#forgot-button {
  width: fit-content;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  color: rgb(51,102,187);
  background-color: transparent;
  border: none;
  padding: 0;
}

#forgot-button:hover {
  text-decoration: underline;
}

#login-button {
  height: 40px;
  font-size: 16px;
  font-weight: 300;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 4px;
  margin-top: 32px;
}

#login-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition: background .5s ease;
}
*/