#nav-container .nav-link, #nav-container .logo-link, #nav-container .signout-nav-link {
  margin: 1em;
  color: rgb(116,166,127);
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  padding: 0 8px;
  cursor: pointer;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  font-family: 'Poppins', sans-serif;
}

#nav-bar-home-logo{
  padding: 0;
  margin-top: -7px
}

#nav-container .logo-link svg {
  stroke:rgb(116,166,127);
}

#nav-container .logo-link svg:hover {
  stroke:rgb(71, 116, 81);
  transition: 0.3s;
}

#nav-container .nav-link:after, #nav-container .signout-nav-link::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 12px;
  padding-top: 1px;
  border-bottom: 1px solid rgb(116,166,127);
  transition: .3s;
}

#nav-container .nav-link:hover::after, #nav-container .signout-nav-link:hover::after {
  width: 100%;
  border-bottom: 1px solid rgb(71, 116, 81);
}

#nav-container .nav-link.active::after {
  width: 100%;
  border-bottom: 2px solid rgb(71, 116, 81);
  transition: none;
}

#nav-container .nav-link:hover, #nav-container .nav-link.active, #nav-container .signout-nav-link:hover {
  color: rgb(71, 116, 81);

}

#nav-container .nav-link.active {
  font-weight: bold;
}

#nav-container .middle-nav {
  display: flex;
  justify-content: center;
  margin-left: -110px;
}

#nav-container .page-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  height: 60px;
}

#nav-container{
  position: fixed;
  top:0;
  width: 100%;
  background-color: white;
  overflow: hidden;
  z-index: 100;
}

