.recipe-page-root{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    background: lightcoral;
    
}

.recipe-header-container{
    margin: 30px 0;
    background: lightblue;
    width: 90%;
}

.rating-fav-container{
    background: turquoise;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}

.recipe-page-image{
    border-radius: 10px;
    width: 50%;
    display: block;
}

.recipe-section{
    width: 90%;
}

.instructions{
    width: 70%;
}

.favourites{
    display: flex;
    width: 300px;
    background:coral;
}

.ingredients{
    width: 30%;
}

.recipe-list-items{
    margin: 5px 0;
}

.key-info{
    padding: 10px 10px;
}


/* Utilities */

.flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

.missing{
    color: red;
}

m-10{
    margin: 10;
}
