.recipe-page-root{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    color: rgba(50, 50, 50, 1);    
}

.recipe-header-container{
    margin: 30px 0;
    width: 100%;
}

.rating-fav-container{
    align-items: center;
    margin-top: 10px;
    width: 100%;
    height: 50px;
}

#average-rating{
    display: flex;
  
}

#average-rating span{
    margin-left: 15px;
    padding: 0 0 14px;
    
}

#recipe-page-title{
    font-size: 2rem;
    color: rgb(116, 166, 127);
    
}

.favourite-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}

.favourite-box #favourite-button{
    position: static;
    padding-top: 15px;
}

.favourite-box p {
    margin: 0;
}

.star-rating{
    padding-top: 15px;
}

.favourite-box{
    border: solid 3px;
    border-radius: 10px;
    height: 44px;
    width: 200px;
    align-content: center;
    padding: 0 20px;
    border-radius: 22px;
    transition: background .5s ease;
    border: solid 2px rgb(150, 150, 150);
}


/* Recipe page body */

.recipe-page-body{
    width: 100%;
}

.image-instruction-column{
    width: 30%;
}

.info-desc-instruct-column{
    margin-left: 20px;
    width: 70%;
}

.recipe-list-item{
    margin: 5px 0;

}

.recipe-li-ingredient{
    text-transform: capitalize;
    width: fit-content;
    color: white;
    background-color: rgb(116, 166, 127);
    border: none;
    border-radius: 20px;
    padding: 4px 8px;
    margin: 4px;
    transition: background .5s ease;
}

ul.ingredients-list{
    margin: 15px 0;
    padding: 0;
}
/* Image and ingredients column */

.recipe-page-image{
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    display: block;
}

.instructions{
    width: 70%;
}

.ingredients{
    width: 100%;
    border: 1 solid;

}

/* Personal Reating */

.personal-rating{
    width: 100%;
    justify-content: flex-end;
    align-content: center;
}

.bottom-rating {
    margin-right: 15px;
}

.important-info{
    color: rgb(71, 116, 81, 0.98);
    font-weight: 600;
}


/* Utilities */
.recipe-subheading{
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 15px
}

.flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

.missing{
    color: red;
}

m-10{
    margin: 10;
}
