.results-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#results-search-container {
  width: 60%;
  margin-top: 12px;
}

#grid-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
  max-width: 1200px;
  margin: 24px 149px;
}

.card-container {
  width: 250px;
  margin: 16px 12px;
}
