.saved-recipes-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.saved-recipes-page-container * {
  font-family: 'Poppins', sans-serif;
  color: rgb(50, 50, 50);
}

.saved-recipes-page-container h1 {
    text-align: center;
    height: fit-content;
    font-size: 50px;
    color: rgb(116, 166, 127);
    margin-top: 2%;
}

.favourite-recipe {
    width: 300px;
    height: 300px;
    margin: 10px;
}

.card-display-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 350px;
    min-height: 350px;
    max-width: 1500px;
    flex-wrap: wrap;
}

.user-message {
    font-size: larger;
}


